# Subsets' preparation

#### Prepare the two dataset that will be studied by the clustering model

By using the `dataset_features.csv` dataset we can obtain two datasets: `Contracts_feature_A2020.csv` `Contracts_feature_B2020.csv`. The first one contains data for all the contracts that have been activated in 2020 and 2021, the second one in 2018 and 2019.

In [1]:
import pandas as pd

Take the `dataset_features.csv` dataset and clean it

In [2]:
inputPath = "<input_path>\\Contracts_feature.csv"
contracts = pd.read_csv(inputPath)
contracts.drop(labels=['Unnamed: 0'], axis=1, inplace=True)
contracts

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,MODALITALAVORO,CITTADINANZA,0_0,0_1,0_2,...,PROVINCIA_COMO,PROVINCIA_CREMONA,PROVINCIA_LECCO,PROVINCIA_LODI,PROVINCIA_MANTOVA,PROVINCIA_MILANO,PROVINCIA_MONZA E BRIANZA,PROVINCIA_PAVIA,PROVINCIA_SONDRIO,PROVINCIA_VARESE
0,2020-09-05,0,3,188,1,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2019-12-07,1,2,831,3,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2013-05-06,0,1,542,3,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2010-12-03,0,2,62,5,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2021-06-04,0,2,1075,3,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12991744,2018-04-09,0,3,841,2,1,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
12991745,2018-12-10,0,3,919,3,1,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
12991746,2017-01-10,0,2,1170,3,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12991747,2019-11-07,1,2,850,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12991748,2021-04-07,1,2,795,1,2,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

Get the subsets and remove the 'DATA' feature

In [3]:
conBefore2020 = contracts[(contracts.DATA > '2017-12-31')&(contracts.DATA < '2020-01-01')]
conBefore2020.reset_index(inplace=True)
conBefore2020 = conBefore2020.drop(labels=['DATA'], axis=1)
conBefore2020

,index,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,MODALITALAVORO,CITTADINANZA,0_0,0_1,0_2,...,PROVINCIA_COMO,PROVINCIA_CREMONA,PROVINCIA_LECCO,PROVINCIA_LODI,PROVINCIA_MANTOVA,PROVINCIA_MILANO,PROVINCIA_MONZA E BRIANZA,PROVINCIA_PAVIA,PROVINCIA_SONDRIO,PROVINCIA_VARESE
0,1,1,2,831,3,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,6,0,3,480,3,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,12,0,2,871,6,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,23,1,3,66,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,28,0,2,188,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2597479,12991740,0,2,87,6,2,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2597480,12991741,0,2,919,5,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2597481,12991744,0,3,841,2,1,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2597482,12991745,0,3,919,3,1,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2597483,12991747,1,2,850,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
conAfter2020= contracts[contracts.DATA > '2019-12-31']
conAfter2020.reset_index(inplace=True)
conAfter2020 = conAfter2020.drop(labels=['DATA'], axis=1)
conAfter2020

,index,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,MODALITALAVORO,CITTADINANZA,0_0,0_1,0_2,...,PROVINCIA_COMO,PROVINCIA_CREMONA,PROVINCIA_LECCO,PROVINCIA_LODI,PROVINCIA_MANTOVA,PROVINCIA_MILANO,PROVINCIA_MONZA E BRIANZA,PROVINCIA_PAVIA,PROVINCIA_SONDRIO,PROVINCIA_VARESE
0,0,0,3,188,1,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4,0,2,1075,3,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5,1,1,501,3,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,10,1,1,1133,3,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13,1,2,501,3,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1903752,12991732,1,1,1172,3,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1903753,12991734,1,2,1044,5,2,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1903754,12991736,0,3,560,3,2,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1903755,12991743,0,3,87,3,2,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
1903756,12991748,1,2,795,1,2,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

Save them as `Contracts_feature_A2020.csv` and `Contracts_feature_B2020.csv`

In [5]:
output_path1 = "<output_path1>\\Contracts_feature_B2020.csv"
output_path2  = "<output_path2>\\Contracts_feature_A2020.csv"
conBefore2020.to_csv(output_path1, index=False)
conAfter2020.to_csv(output_path2, index=False)
print("done")

done