# Feature tranformation of dataset

In this file the dataset will be modified to make it more suitable for Machine Learning

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
from sklearn import preprocessing

In [2]:
inputPath = "<input path>\\Contracts_dataset.csv"
outputPath = "<output path>\\Contracts_feature.csv"

In [3]:
contracts = pd.read_csv(inputPath)
contracts

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,CITTADINANZA
0,2020-09-05,F,50-64,Attività di famiglie e convivenze come datori ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PIENO,BERGAMO,STRANIERO
1,2019-12-07,M,25-49,"Gestioni di funicolari, ski-lift e seggiovie s...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,ITALIANO
2,2013-05-06,F,15-24,Fabbricazione di altre apparecchiature elettri...,LICENZA MEDIA,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIANO
3,2010-12-03,F,25-49,Alberghi,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO INTERMITTENTE A TEMPO DETERMINATO,NON DEFINITO,BERGAMO,ITALIANO
4,2021-06-04,F,25-49,Rifugi di montagna,LICENZA MEDIA,LAVORO INTERMITTENTE,NON DEFINITO,BERGAMO,ITALIANO
...,...,...,...,...,...,...,...,...,...
12993406,2018-04-09,F,50-64,Installazione di altre macchine ed apparecchia...,LICENZA ELEMENTARE,LAVORO A TEMPO DETERMINATO,TEMPO PARZIALE ORIZZONTALE,MONZA E BRIANZA,ITALIANO
12993407,2018-12-10,F,50-64,Mense,LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PARZIALE ORIZZONTALE,MONZA E BRIANZA,ITALIANO
12993408,2017-01-10,F,25-49,Servizi integrati di gestione agli edifici,LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PARZIALE ORIZZONTALE,BRESCIA,ITALIANO
12993409,2019-11-07,M,25-49,Installazione di impianti elettrici in edifici...,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BRESCIA,ITALIANO
12993410,2021-04-07,M,25-49,Fabbricazione e montaggio di biciclette (inclu...,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,STRANIERO

For both GENERE and CITTADINANZA, we can substitute values as 0 and 1.
In particular, male will be 1 and female 0; Italian 1 and foreigner 0

In [4]:
contracts.loc[contracts.CITTADINANZA == 'ITALIANO', 'CITTADINANZA'] = 1
contracts.loc[contracts.CITTADINANZA == 'STRANIERO', 'CITTADINANZA'] = 0
contracts.loc[contracts.GENERE == 'M', 'GENERE'] = 1
contracts.loc[contracts.GENERE == 'F', 'GENERE'] = 0
contracts.head()

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,CITTADINANZA
0,2020-09-05,0,50-64,Attività di famiglie e convivenze come datori ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PIENO,BERGAMO,0
1,2019-12-07,1,25-49,"Gestioni di funicolari, ski-lift e seggiovie s...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,1
2,2013-05-06,0,15-24,Fabbricazione di altre apparecchiature elettri...,LICENZA MEDIA,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,1
3,2010-12-03,0,25-49,Alberghi,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO INTERMITTENTE A TEMPO DETERMINATO,NON DEFINITO,BERGAMO,1
4,2021-06-04,0,25-49,Rifugi di montagna,LICENZA MEDIA,LAVORO INTERMITTENTE,NON DEFINITO,BERGAMO,1

In the same way we can do the same thing with age: 0 for undefined, 1 for 15-24, 2 for 25-49, 3 for 50-64, 4 for 65 or more

In [5]:
contracts.loc[contracts.ETA == 'NON DEFINITO', 'ETA'] = 0
contracts.loc[contracts.ETA == '15-24', 'ETA'] = 1
contracts.loc[contracts.ETA == '25-49', 'ETA'] = 2
contracts.loc[contracts.ETA == '50-64', 'ETA'] = 3
contracts.loc[contracts.ETA == "65 o piu'", 'ETA'] = 4
contracts.head()

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,CITTADINANZA
0,2020-09-05,0,3,Attività di famiglie e convivenze come datori ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PIENO,BERGAMO,0
1,2019-12-07,1,2,"Gestioni di funicolari, ski-lift e seggiovie s...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,1
2,2013-05-06,0,1,Fabbricazione di altre apparecchiature elettri...,LICENZA MEDIA,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,1
3,2010-12-03,0,2,Alberghi,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO INTERMITTENTE A TEMPO DETERMINATO,NON DEFINITO,BERGAMO,1
4,2021-06-04,0,2,Rifugi di montagna,LICENZA MEDIA,LAVORO INTERMITTENTE,NON DEFINITO,BERGAMO,1

We can also consider educational degrees as a ordinal attribute and we can assign values from 0 onward. In order to reduce the complexity, we can group up all the degrees that referes to a tertiary level of education

In [6]:
contracts.TITOLOSTUDIO.unique().tolist()

['NESSUN TITOLO DI STUDIO',
 'LICENZA MEDIA',
 "DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE  CHE PERMETTE L'ACCESSO ALL'UNIVERSITA",
 'LAUREA - Vecchio o nuovo ordinamento',
 "TITOLO DI ISTRUZIONE SECONDARIA SUPERIORE (SCOLASTICA ED EXTRA-SCOLASTICA) CHE NON PERMETTE L'ACCESSO ALL'UNIVERSITÀ ()",
 'LICENZA ELEMENTARE',
 'DIPLOMA DI SPECIALIZZAZIONE',
 'DIPLOMA UNIVERSITARIO',
 'TITOLO DI DOTTORE DI RICERCA',
 'TITOLO DI STUDIO POST-LAUREA',
 'MASTER UNIVERSITARIO DI PRIMO LIVELLO',
 'DIPLOMA TERZIARIO EXTRA-UNIVERSITARIO',
 'NON DEFINITO']

In general we consider 0 for undefined value, 1  for no education degree and so on until 6 for tertiary education and 7 for post-lauream degrees

In [7]:
replaceDict = {"NON DEFINITO":0,
              "NESSUN TITOLO DI STUDIO":1,
              "LICENZA ELEMENTARE":2,
              "LICENZA MEDIA":3,
              "TITOLO DI ISTRUZIONE SECONDARIA SUPERIORE (SCOLASTICA ED EXTRA-SCOLASTICA) CHE NON PERMETTE L'ACCESSO ALL'UNIVERSITÀ ()":4,
              "DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE  CHE PERMETTE L'ACCESSO ALL'UNIVERSITA":5,
              "LAUREA - Vecchio o nuovo ordinamento":6,
              "DIPLOMA UNIVERSITARIO":6,
              "DIPLOMA TERZIARIO EXTRA-UNIVERSITARIO":6,
              "DIPLOMA DI SPECIALIZZAZIONE":7,
              "TITOLO DI DOTTORE DI RICERCA":7,
              "TITOLO DI STUDIO POST-LAUREA":7,
              "MASTER UNIVERSITARIO DI PRIMO LIVELLO":7}

contracts.replace({"TITOLOSTUDIO":replaceDict}, inplace=True)
contracts.head()

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,CITTADINANZA
0,2020-09-05,0,3,Attività di famiglie e convivenze come datori ...,1,LAVORO DOMESTICO,TEMPO PIENO,BERGAMO,0
1,2019-12-07,1,2,"Gestioni di funicolari, ski-lift e seggiovie s...",3,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,1
2,2013-05-06,0,1,Fabbricazione di altre apparecchiature elettri...,3,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,1
3,2010-12-03,0,2,Alberghi,5,LAVORO INTERMITTENTE A TEMPO DETERMINATO,NON DEFINITO,BERGAMO,1
4,2021-06-04,0,2,Rifugi di montagna,3,LAVORO INTERMITTENTE,NON DEFINITO,BERGAMO,1

For the MODALITALAVORO attribute, we can also group up the different types of part-time and substitute the values as 0 for undefined, 1 for part-time and 2 for full-time

In [8]:
contracts.MODALITALAVORO.unique().tolist()

['TEMPO PIENO',
 'NON DEFINITO',
 'TEMPO PARZIALE ORIZZONTALE',
 'TEMPO PARZIALE MISTO',
 'TEMPO PARZIALE VERTICALE']

In [9]:
replaceDict = {"NON DEFINITO":0,
              "TEMPO PARZIALE ORIZZONTALE":1,
              "TEMPO PARZIALE MISTO":1,
              "TEMPO PARZIALE VERTICALE":1,
              "TEMPO PIENO":2}

contracts.replace({"MODALITALAVORO":replaceDict}, inplace=True)
contracts.head()

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,CITTADINANZA
0,2020-09-05,0,3,Attività di famiglie e convivenze come datori ...,1,LAVORO DOMESTICO,2,BERGAMO,0
1,2019-12-07,1,2,"Gestioni di funicolari, ski-lift e seggiovie s...",3,LAVORO A TEMPO DETERMINATO,2,BERGAMO,1
2,2013-05-06,0,1,Fabbricazione di altre apparecchiature elettri...,3,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,2,BERGAMO,1
3,2010-12-03,0,2,Alberghi,5,LAVORO INTERMITTENTE A TEMPO DETERMINATO,0,BERGAMO,1
4,2021-06-04,0,2,Rifugi di montagna,3,LAVORO INTERMITTENTE,0,BERGAMO,1

For the last three attributes, we cannot consider them as ordinal values. We can use the OneHotEncoder for PROVINCIAIMPRESA and CONTRATTO. SETTOREECONOMICODETTAGLIO has too many categories so we can use a Binary Encoder to reduce the dimensionality

In [10]:
print("Number of categories for PROVINCIAIMPRESA: ", len(contracts.PROVINCIAIMPRESA.unique().tolist()))
print("Number of categories for CONTRATTO: ", len(contracts.CONTRATTO.unique().tolist()))
print("Number of categories for SETTOREECONOMICODETTAGLIO: ", len(contracts.SETTOREECONOMICODETTAGLIO.unique().tolist()))

Number of categories for PROVINCIAIMPRESA:  12
Number of categories for CONTRATTO:  54
Number of categories for SETTOREECONOMICODETTAGLIO:  1226

In [11]:
import category_encoders as ce
enc = ce.BinaryEncoder()

df_col = contracts.SETTOREECONOMICODETTAGLIO.values.reshape(-1,1)
X = enc.fit_transform(df_col)
contracts = pd.concat([contracts, X], axis=1)

contracts

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,CITTADINANZA,0_0,0_1,0_2,0_3,0_4,0_5,0_6,0_7,0_8,0_9,0_10
0,2020-09-05,0,3,Attività di famiglie e convivenze come datori ...,1,LAVORO DOMESTICO,2,BERGAMO,0,0,0,0,0,0,0,0,0,0,0,1
1,2019-12-07,1,2,"Gestioni di funicolari, ski-lift e seggiovie s...",3,LAVORO A TEMPO DETERMINATO,2,BERGAMO,1,0,0,0,0,0,0,0,0,0,1,0
2,2013-05-06,0,1,Fabbricazione di altre apparecchiature elettri...,3,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,2,BERGAMO,1,0,0,0,0,0,0,0,0,0,1,1
3,2010-12-03,0,2,Alberghi,5,LAVORO INTERMITTENTE A TEMPO DETERMINATO,0,BERGAMO,1,0,0,0,0,0,0,0,0,1,0,0
4,2021-06-04,0,2,Rifugi di montagna,3,LAVORO INTERMITTENTE,0,BERGAMO,1,0,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12993406,2018-04-09,0,3,Installazione di altre macchine ed apparecchia...,2,LAVORO A TEMPO DETERMINATO,1,MONZA E BRIANZA,1,0,0,0,0,1,1,1,1,1,1,0
12993407,2018-12-10,0,3,Mense,3,LAVORO A TEMPO DETERMINATO,1,MONZA E BRIANZA,1,0,0,0,0,0,1,1,1,0,1,1
12993408,2017-01-10,0,2,Servizi integrati di gestione agli edifici,3,LAVORO A TEMPO DETERMINATO,1,BRESCIA,1,0,0,1,0,1,1,1,1,0,0,0
12993409,2019-11-07,1,2,Installazione di impianti elettrici in edifici...,1,LAVORO A TEMPO DETERMINATO,2,BRESCIA,1,0,0,0,0,0,0,1,1,1,0,1
12993410,2021-04-07,1,2,Fabbricazione e montaggio di biciclette (inclu...,1,LAVORO A TEMPO DETERMINATO,2,BERGAMO,0,0,0,1,0,1,0,0,1,0,0,1

In [12]:
#laber encoder
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
labels = le.fit_transform(contracts['SETTOREECONOMICODETTAGLIO'])
contracts['SETTOREECONOMICODETTAGLIO'] = list(labels)
contracts.head()

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,CITTADINANZA,0_0,0_1,0_2,0_3,0_4,0_5,0_6,0_7,0_8,0_9,0_10
0,2020-09-05,0,3,188,1,LAVORO DOMESTICO,2,BERGAMO,0,0,0,0,0,0,0,0,0,0,0,1
1,2019-12-07,1,2,831,3,LAVORO A TEMPO DETERMINATO,2,BERGAMO,1,0,0,0,0,0,0,0,0,0,1,0
2,2013-05-06,0,1,542,3,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,2,BERGAMO,1,0,0,0,0,0,0,0,0,0,1,1
3,2010-12-03,0,2,62,5,LAVORO INTERMITTENTE A TEMPO DETERMINATO,0,BERGAMO,1,0,0,0,0,0,0,0,0,1,0,0
4,2021-06-04,0,2,1075,3,LAVORO INTERMITTENTE,0,BERGAMO,1,0,0,0,0,0,0,0,0,1,0,1

In [13]:
#SOLO PER DEBUG
contracts[contracts.SETTOREECONOMICODETTAGLIO == 188]

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,CITTADINANZA,0_0,0_1,0_2,0_3,0_4,0_5,0_6,0_7,0_8,0_9,0_10
0,2020-09-05,0,3,188,1,LAVORO DOMESTICO,2,BERGAMO,0,0,0,0,0,0,0,0,0,0,0,1
25,2012-03-07,0,2,188,1,LAVORO DOMESTICO A TEMPO DETERMINATO,1,BERGAMO,0,0,0,0,0,0,0,0,0,0,0,1
28,2019-08-04,0,2,188,1,LAVORO DOMESTICO,2,BERGAMO,1,0,0,0,0,0,0,0,0,0,0,1
50,2014-09-09,0,3,188,1,LAVORO DOMESTICO,2,LECCO,0,0,0,0,0,0,0,0,0,0,0,1
98,2014-09-05,0,1,188,1,LAVORO DOMESTICO,1,LECCO,1,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12991273,2020-07-06,0,2,188,5,LAVORO A TEMPO DETERMINATO,2,MILANO,0,0,0,0,0,0,0,0,0,0,0,1
12992469,2021-03-03,0,3,188,1,LAVORO DOMESTICO,1,BRESCIA,1,0,0,0,0,0,0,0,0,0,0,1
12992524,2021-06-10,0,2,188,3,LAVORO A TEMPO DETERMINATO,2,BERGAMO,1,0,0,0,0,0,0,0,0,0,0,1
12992667,2016-07-04,0,3,188,1,LAVORO DOMESTICO,2,COMO,0,0,0,0,0,0,0,0,0,0,0,1
12992883,2019-07-12,1,2,188,1,LAVORO A TEMPO DETERMINATO,1,LECCO,1,0,0,0,0,0,0,0,0,0,0,1

In [14]:
contracts = pd.get_dummies(contracts, columns=['CONTRATTO'], prefix=['CONTRATTO'], drop_first=True)
contracts.head()

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,MODALITALAVORO,PROVINCIAIMPRESA,CITTADINANZA,0_0,0_1,...,CONTRATTO_LAVORO NELLO SPETTACOLO A TEMPO INDETERMINATO,CONTRATTO_LAVORO O ATTIVITÀ SOCIALMENTE UTILE (LSU - ASU),CONTRATTO_LAVORO OCCASIONALE,CONTRATTO_LAVORO RIPARTITO,CONTRATTO_LAVORO RIPARTITO A TEMPO DETERMINATO,CONTRATTO_LAVORO RIPARTITO A TEMPO INDETERMINATO,CONTRATTO_Lavoro a tempo determinato con piattaforma,CONTRATTO_Lavoro a tempo determinato per sostituzione con piattaforma,CONTRATTO_Lavoro a tempo indeterminato con piattaforma,CONTRATTO_TIROCINIO
0,2020-09-05,0,3,188,1,2,BERGAMO,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2019-12-07,1,2,831,3,2,BERGAMO,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2013-05-06,0,1,542,3,2,BERGAMO,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2010-12-03,0,2,62,5,0,BERGAMO,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2021-06-04,0,2,1075,3,0,BERGAMO,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
contracts = pd.get_dummies(contracts, columns=['PROVINCIAIMPRESA'], prefix=['PROVINCIA'], drop_first=True)
contracts.head()

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,MODALITALAVORO,CITTADINANZA,0_0,0_1,0_2,...,PROVINCIA_COMO,PROVINCIA_CREMONA,PROVINCIA_LECCO,PROVINCIA_LODI,PROVINCIA_MANTOVA,PROVINCIA_MILANO,PROVINCIA_MONZA E BRIANZA,PROVINCIA_PAVIA,PROVINCIA_SONDRIO,PROVINCIA_VARESE
0,2020-09-05,0,3,188,1,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2019-12-07,1,2,831,3,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2013-05-06,0,1,542,3,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2010-12-03,0,2,62,5,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2021-06-04,0,2,1075,3,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
contracts.drop(labels=['SETTOREECONOMICODETTAGLIO'], axis=1, inplace=True)
contracts

,DATA,GENERE,ETA,TITOLOSTUDIO,MODALITALAVORO,CITTADINANZA,0_0,0_1,0_2,0_3,...,PROVINCIA_COMO,PROVINCIA_CREMONA,PROVINCIA_LECCO,PROVINCIA_LODI,PROVINCIA_MANTOVA,PROVINCIA_MILANO,PROVINCIA_MONZA E BRIANZA,PROVINCIA_PAVIA,PROVINCIA_SONDRIO,PROVINCIA_VARESE
0,2020-09-05,0,3,1,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2019-12-07,1,2,3,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2013-05-06,0,1,3,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2010-12-03,0,2,5,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2021-06-04,0,2,3,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12993406,2018-04-09,0,3,2,1,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
12993407,2018-12-10,0,3,3,1,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
12993408,2017-01-10,0,2,3,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
12993409,2019-11-07,1,2,1,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12993410,2021-04-07,1,2,1,2,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
contracts.to_csv(outputPath, index=True)
print("done")

done