In [35]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import numpy.random as nr

from sklearn.cluster import KMeans, AgglomerativeClustering
from sklearn.metrics import silhouette_score
from sklearn import preprocessing
from sklearn.neighbors import NearestCentroid
from sklearn.feature_selection import SelectKBest

In [12]:
inputPath = "C:\\Users\\rotol\\Downloads\\Contracts_feature.csv"

In [13]:
contracts = pd.read_csv(inputPath)
contracts.head()

,Unnamed: 0,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,MODALITALAVORO,CITTADINANZA,0_0,0_1,...,PROVINCIA_COMO,PROVINCIA_CREMONA,PROVINCIA_LECCO,PROVINCIA_LODI,PROVINCIA_MANTOVA,PROVINCIA_MILANO,PROVINCIA_MONZA E BRIANZA,PROVINCIA_PAVIA,PROVINCIA_SONDRIO,PROVINCIA_VARESE
0,0,2020-09-05,0,3,188,1,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2019-12-07,1,2,831,3,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,2013-05-06,0,1,542,3,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,2010-12-03,0,2,62,5,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,2021-06-04,0,2,1075,3,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
contracts.drop(labels=['Unnamed: 0','DATA'], axis=1, inplace=True)
contracts

,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,MODALITALAVORO,CITTADINANZA,0_0,0_1,0_2,0_3,...,PROVINCIA_COMO,PROVINCIA_CREMONA,PROVINCIA_LECCO,PROVINCIA_LODI,PROVINCIA_MANTOVA,PROVINCIA_MILANO,PROVINCIA_MONZA E BRIANZA,PROVINCIA_PAVIA,PROVINCIA_SONDRIO,PROVINCIA_VARESE
0,0,3,188,1,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2,831,3,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,542,3,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,2,62,5,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,2,1075,3,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12993406,0,3,841,2,1,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
12993407,0,3,919,3,1,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
12993408,0,2,1170,3,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
12993409,1,2,850,1,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12993410,1,2,795,1,2,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
agglomerative_model = AgglomerativeClustering(n_clusters=5, affinity="l1", linkage="single")
ggg = agglomerative_model.fit_predict(contracts[0:500000])
clf = NearestCentroid()
clf.fit(contracts[0:500000], ggg)
print(clf.centroids_)